<div class="d-flex flex-column align-items-center justify-content-center">
  <h1 class="text-center">Scheduled Tweets</h1>
  <div class="my-4 text-center">
    Start scheduling your tweets!
  </div>
  <div class="mb-4 d-flex flex-row align-items-center">
    <%= image_tag "twitter.png", class: "icon-calendar me-2" %>
    <%= image_tag "calendar.png", class: "icon-twitter" %>
  </div>

  <%= button_to "Connect twitter", "auth/twitter", method: :post, class: "btn btn-primary" %>
</div>
