<h1>About us</h1>
<div class="my-4">Signed up to start scheduling your tweets with us!</div>
<%= image_tag "twitter.png", class: "icon-calendar" %>
<%= image_tag "calendar.png", class: "icon-twitter" %>
